ion-header {
  background-color: #d4af37; // Color dorado
  color: black; // Color del texto

  ion-toolbar {
    --background: transparent; // Hacer que el fondo de la barra de herramientas sea transparente para mostrar el color dorado
    color: black; // Asegurarse de que el texto del toolbar sea negro

    ion-title {
      color: black; // Color del título
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  background-color: #000;
  padding-top: 10%;
}

.logo-img {
  width: 150px;
  height: auto;
}

ion-content {
  --background: #000000; /* Color de fondo */

  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
  }

  form {
    background-color: #000000; /* Fondo blanco para el formulario */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(255, 174, 0); /* Sombra ligera */
    max-width: 400px; /* Limitar el ancho del formulario */
    width: 100%; /* Asegura que se mantenga receptivo */
  }

  ion-item {
    --background: #f0f0f0; /* Fondo de los campos */
    --border-radius: 5px;
    margin-bottom: 15px;
  }

  .spaced-label {
    font-weight: bold;
    color: #333; /* Color del texto de la etiqueta */
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  ion-button {
    --background: #a67c00; /* Color del botón */
    margin-top: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  ion-input {
    --padding-start: 10px; /* Espacio interior del input */
    --color: #000000; /* Color del texto */
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
}
