ion-header {
    ion-toolbar {
      background-color: #000; // Fondo negro
      ion-title {
        color: #d4af37; // Dorado
      }
    }
  }
  
  ion-content {
    background-color: #000; // Fondo negro
    --ion-item-background: transparent; // Fondo transparente para los ítems
  
    ion-list {
      ion-item {
        color: #fff; // Texto blanco
        ion-icon {
          color: #d4af37; // Íconos dorados
        }
        ion-button {
          color: #d4af37; // Botones dorados
        }
        ion-toggle {
          color: #d4af37; // Toggle dorado
        }
        ion-select {
          color: #d4af37; // Select dorado
          ion-select-option {
            color: #000; // Texto de opciones negro
          }
        }
      }
    }
  }
  