ion-header {
    ion-toolbar {
      background-color: rgb(0, 0, 0); // Fondo negro
      --background:#ffc400 ;
      ion-title {
        color: #000000;
        
      }
    }
  }
  
  ion-content {
    background-color: #ffffff; // Fondo negro
    --background: #000000;
    --ion-item-background: transparent;
  
    ion-list {
      ion-item {
        color: #ffffff; // Texto blanco
        ion-icon {
          color: #d4af37; // Íconos dorados
        }
        ion-button {
          color: #ffc400; // Botones dorados
          font-family: Georgia, 'Times New Roman', Times, serif;
        }
        ion-toggle {
          color: #ffc400; // Toggle dorado
        }
        ion-select {
          color: #ffc400; // Select dorado
          }
        ion-label {
          font-family: Georgia, 'Times New Roman', Times, serif;
          }
        }
      }
    }
  