<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Configuraciones</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notificaciones</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-label>Cambiar Contraseña</ion-label>
      <ion-button slot="end" fill="outline" [routerLink]="['/cambiar-contrasena']">Modificar</ion-button>
    </ion-item>

    <ion-item>
      <ion-icon name="language-outline"></ion-icon>
      <ion-label>Idioma</ion-label>
      <ion-select slot="end" interface="popover">
        <ion-select-option value="es">Español</ion-select-option>
        <ion-select-option value="en">Inglés</ion-select-option>
        <ion-select-option value="fr">Francés</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Acerca de la App</ion-label>
      <ion-button slot="end" fill="outline" [routerLink]="['/acerca-de']">Ver</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
