// Estilo general del encabezado
ion-header {
  --background: #d4af37;
  --color: white;
}

ion-toolbar {
  --background: gold;
  --color: black;
}

ion-title {
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
ion-list{
  background-color: #000000;
  --background: transparent;
}

// Estilos para el contenido
.content-bg {
  --background: black;
  color: rgb(0, 0, 0);
}

.content-wrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
}

// Estilos para la tarjeta de perfil
.profile-card {
  --background: black;
  --box-shadow: 0 4px 10px rgba(255, 187, 0, 0.801);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 600px;
}

.profile-avatar {
  border: 3px solid gold;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

ion-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

ion-item {
  --background: transparent;
  --border-color: gold;
  --color: rgb(255, 255, 255);
  margin-bottom: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  

  ion-label {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
  }

  ion-input {
    --background: transparent;
    --color: white ;
    --placeholder-color: black;
    border: 1px solid gold;
    border-radius: 10px;
    padding: 10px;
  }
}

// Estilos para el botón de editar
ion-button {
  --background: gold;
  --color: rgb(255, 255, 255);
  --border-radius: 100%;
  --box-shadow: 0px 4px 6px rgba(240, 165, 4, 0.842);

  &:hover {
    --background: gold ;

  }

  ion-icon {
    font-size: 20px;
  }
}

// Estilos para los botones de acción (Guardar y Cancelar)
ion-button[expand="block"] {
  background-color: gold  ;
  color: black;
  margin-top: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;



  &:hover {
    --background: darken(gold, 10%);
  }
}

// Estilos para los elementos cuando están en modo de edición
ion-input[readonly] {
  background-color: #000000;
  color: #000000;
  
}


