<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Politicas de privacidad</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Política de Privacidad</h1>
  <p><strong>Última actualización:</strong> 01-09-2024</p>

  <p>En Ojo de Horus, valoramos y respetamos tu privacidad. Esta Política de Privacidad describe cómo recopilamos, usamos, compartimos y protegemos la información personal de los usuarios de nuestro foro dedicado a la comunidad de EA Sports. Al utilizar nuestro foro, aceptas los términos establecidos en esta Política de Privacidad.</p>

  <h3>1. Información que Recopilamos</h3>
  <p><strong>a. Información proporcionada por el usuario:</strong></p>
  <p>Cuando te registras en "Ojo de Horus", recopilamos información personal como tu nombre de usuario, dirección de correo electrónico, contraseña, y cualquier otra información que decidas compartir en tu perfil.</p>

  <p><strong>b. Información automática:</strong></p>
  <p>Recopilamos automáticamente ciertos datos cuando navegas por nuestro foro, como tu dirección IP, tipo de dispositivo, sistema operativo, navegador, y las páginas que visitas dentro de "Ojo de Horus".</p>

  <h3>2. Cómo Usamos Tu Información</h3>
  <p>La información que recopilamos se utiliza para los siguientes fines:</p>
  <ul>
    <li>Proporcionar y mantener el buen funcionamiento del foro.</li>
    <li>Personalizar la experiencia del usuario.</li>
    <li>Enviar notificaciones relacionadas con la actividad del foro.</li>
    <li>Mejorar la seguridad del foro.</li>
    <li>Realizar análisis y estadísticas internas.</li>
  </ul>

  <h3>3. Compartir Información con Terceros</h3>
  <p>No compartimos, vendemos ni alquilamos tu información personal a terceros, excepto en los siguientes casos:</p>
  <ul>
    <li>Proveedores de servicios.</li>
    <li>Cumplimiento legal.</li>
  </ul>

  <h3>4. Seguridad de Tu Información</h3>
  <p>Nos comprometemos a proteger tu información personal y utilizamos medidas de seguridad adecuadas para prevenir el acceso no autorizado.</p>

  <h3>5. Tus Derechos y Opciones</h3>
  <p>Tienes derecho a acceder, corregir o eliminar la información personal que hayas proporcionado en tu perfil.</p>

  <h3>6. Cookies</h3>
  <p>Utilizamos cookies para personalizar tu experiencia y mejorar nuestro servicio. Puedes configurar tu navegador para rechazar todas las cookies.</p>

  <h3>7. Cambios en la Política de Privacidad</h3>
  <p>Podemos actualizar esta Política de Privacidad de vez en cuando. Te recomendamos revisar esta política periódicamente.</p>

  <h3>8. Contacto</h3>
  <p>Si tienes alguna pregunta sobre nuestra Política de Privacidad, puedes ponerte en contacto con nosotros a través de ojodehorus&#64;correo.com .</p>

</ion-content>
