ion-toolbar{
  background-color: #d4af37;
  --background: transparent;
  color: #000;
}

ion-content {
  background-color: #000; // Fondo negro
  --background: transparent;

  h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #d4af37; // Dorado
    margin-bottom: 15px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  p {
    font-size: 1rem;
    line-height: 1.6;
    color: #f7f7f7; // Texto blanco
    margin-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  h3 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #d4af37; // Dorado
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  strong {
    color: #d4af37; // Dorado
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  p + h3 {
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid #ddd; // Línea divisoria
  }

  ul {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 1rem;
    color: #f7f7f7; // Texto blanco
    font-family: Georgia, 'Times New Roman', Times, serif;

    li {
      margin-bottom: 10px;
    }
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 1.8rem;
    }

    p {
      font-size: 0.9rem;
    }

    h3 {
      font-size: 1.2rem;
    }
  }
}
