<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Acuerdos Legales</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="legal-card">
    <ion-card-header>
      <ion-card-title>Acuerdo de Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="legal-text">
        <p>
          <strong>1. Aceptación de los Términos</strong>
          <br />
          Al utilizar esta aplicación, usted acepta cumplir con estos Términos y Condiciones. Si no está de acuerdo con
          alguno de estos términos, no debe usar la aplicación.
        </p>
        <p>
          <strong>2. Uso de la Aplicación</strong>
          <br />
          La aplicación está destinada a uso personal y no comercial. Usted acepta no utilizar la aplicación para fines
          ilegales o no autorizados. Cualquier uso indebido puede dar lugar a la terminación de su acceso a la aplicación.
        </p>
        <p>
          <strong>3. Registro y Seguridad</strong>
          <br />
          Para acceder a ciertas funciones, es posible que deba crear una cuenta. Es responsable de mantener la
          confidencialidad de su información de cuenta y contraseña. Usted es responsable de todas las actividades que
          ocurran bajo su cuenta.
        </p>
        <p>
          <strong>4. Contenido del Usuario</strong>
          <br />
          Usted conserva los derechos sobre el contenido que publique en la aplicación. Sin embargo, al publicar
          contenido, otorga a la aplicación una licencia mundial, no exclusiva, libre de regalías para utilizar,
          reproducir y mostrar dicho contenido.
        </p>
        <p>
          <strong>5. Modificaciones y Terminación</strong>
          <br />
          La aplicación se reserva el derecho de modificar o discontinuar sus servicios en cualquier momento. También nos
          reservamos el derecho de modificar estos Términos en cualquier momento, y su uso continuo de la aplicación
          constituirá su aceptación de dichos cambios.
        </p>
        <p>
          <strong>6. Responsabilidad</strong>
          <br />
          La aplicación no se responsabiliza de cualquier daño directo, indirecto, incidental, especial o consecuente que
          resulte del uso o la imposibilidad de uso de la aplicación.
        </p>
        <p>
          <strong>7. Contacto</strong>
          <br />
          Para cualquier pregunta relacionada con estos Términos, por favor contacte a nuestro soporte a través de ojodehorus&#64;correo.com .
        </p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
