ion-content {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
  
    .legal-card {
      margin: 15px;
      padding: 10px;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(17, 0, 248, 0.945);
  
      ion-card-header {
        background-color: #620b94;
      }
  
      ion-card-title {
        color: var(--title-color, #f0e6e6); // Cambia el color del título
      }
  
      ion-card-content {
        .legal-text {
          p {
            margin-bottom: 15px;
            line-height: 1.6;
  
            strong {
              color: var(--highlight-color, #3880ff); // Cambia el color del texto destacado
              display: block;
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
  