ion-header {
  background-color: #d4af37; /* Fondo dorado */
  color: #000; /* Texto negro */
  
  ion-toolbar {
    --background: transparent; /* Fondo transparente del toolbar para que herede el dorado */
    color: #000; /* Color del texto e iconos dentro del toolbar */

    ion-title, ion-buttons, ion-searchbar, ion-button {
      color: #000; /* Asegurarse de que el texto e iconos sean negros */
    }

    ion-menu-button, ion-back-button {
      color: #000; /* Iconos del menú y back en negro */
      font-family: Georgia, 'Times New Roman', Times, serif;
    }

    ion-searchbar {
      --background: #fff; /* Fondo blanco del cuadro de búsqueda */
      --color: #000; /* Texto negro dentro del searchbar */
      font-family: Georgia, 'Times New Roman', Times, serif;
    }

    ion-button {
      --background: #000000; /* Fondo blanco para el botón de inicio de sesión */
      font-family: Georgia, 'Times New Roman', Times, serif;
      border-radius: 10px; /* Bordes redondeados */
    }
  }
}

ion-content { 
  background-color: #000000; /* Fondo negro */
  --background: transparent;

  .post-item {
    border: 2px solid #d4af37; /* Borde dorado */
    border-radius: 10px; /* Bordes redondeados */
    background-color: #000;
    --background: transparent;
    margin-bottom: 20px; /* Espaciado entre publicaciones */
  }

  h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  ion-input {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid #d4af37; /* Borde dorado */
    border-radius: 10px; /* Bordes redondeados */
    margin-top: 5%;
  }

  .card-custom {
    margin-bottom: 20px;
    border: 2px solid #d4af37; /* Borde dorado */
    border-radius: 10px; /* Bordes redondeados */
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #000;

    p {
      color: #ffffff;
      font-size: medium;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    ion-card-title {
      font-size: 1.4rem;
      display: flex;
      align-items: center;
      color: #d4af37; /* Texto dorado para el título */
      font-family: Georgia, 'Times New Roman', Times, serif;

      ion-icon {
        margin-right: 10px;
        color: #d4af37; /* Icono dorado */
      }
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
      margin-bottom: 15px;
      border: 2px solid #d4af37; /* Borde dorado en imágenes */
    }

    .button-group {
      display: flex;
      justify-content: space-between;

      .left-buttons {
        display: flex;

        ion-button {
          margin-right: 10px;
          color: #000; /* Texto del botón negro */
          --background: #d4af37; /* Botones dorados */
          border-radius: 10px; /* Bordes redondeados */
          font-family: Georgia, 'Times New Roman', Times, serif;
        }
      }

      .right-button {
        margin-left: auto;

        ion-button {
          color: #000; /* Texto del botón negro */
          --background: #d4af37; /* Botón dorado */
          border-radius: 10px; /* Bordes redondeados */
        }
      }
    }
  }

  ion-button.image-upload {
    --background: transparent; /* Fondo transparente */
    color: #d4af37; /* Color dorado para el icono */
    border: none; /* Sin borde */
  }

  ion-button.publish {
    --background: #d4af37; /* Botón dorado */
    border-radius: 20px; /* Bordes más redondeados */
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5%;
  }

  /* Cambios para el ícono */
  .heart-icon {
    color: black; /* Color inicial */
    transition: transform 0.5s ease, color 0.5s ease; /* Transición para la animación */
  }

  .heart-icon.liked {
    color:#ff0000; /* Color al estar pulsado */
  }

  .like-button:active .heart-icon {
    transform: scale(1.2); /* Zoom al pulsar */
  }
}
