<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mas Populares</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <!-- Barra de búsqueda fuera de los botones de navegación -->
    <ion-searchbar slot="end" placeholder="Buscar"></ion-searchbar>

    <!-- Botón de inicio de sesión fuera de los botones de navegación -->
    <ion-button slot="end" [routerDirection]="'root'" [routerLink]="'/login'">Inicio de sesión</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Más Populares</h1>
  <!-- Primera tarjeta -->
  <ion-card class="card-custom">
    <ion-card-header>
      <ion-card-title><ion-icon name="person-circle"></ion-icon> Diego</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="assets/img/fifa.jpeg" alt="Publicación de Diego">
      <div class="button-group">
        <div class="left-buttons">
          <ion-button color="primary">
            <ion-icon name="heart"></ion-icon>
            Like
          </ion-button>
          <ion-button color="secondary">
            <ion-icon name="chatbubble"></ion-icon>
            Comentario
          </ion-button>
        </div>
        <ion-button class="right-button" color="tertiary">
          <ion-icon name="share-social"></ion-icon>
          Compartir
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Segunda tarjeta -->
  <ion-card class="card-custom">
    <ion-card-header>
      <ion-card-title><ion-icon name="person-circle"></ion-icon> Maria</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="assets/img/nba.jpeg" alt="Publicación de Maria">
      <div class="button-group">
        <div class="left-buttons">
          <ion-button color="primary">
            <ion-icon name="heart"></ion-icon>
            Like
          </ion-button>
          <ion-button color="secondary">
            <ion-icon name="chatbubble"></ion-icon>
            Comentario
          </ion-button>
        </div>
        <ion-button class="right-button" color="tertiary">
          <ion-icon name="share-social"></ion-icon>
          Compartir
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Tercera tarjeta -->
  <ion-card class="card-custom">
    <ion-card-header>
      <ion-card-title><ion-icon name="person-circle"></ion-icon> Juan</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="assets/img/valo.jpeg" alt="Publicación de Juan">
      <div class="button-group">
        <div class="left-buttons">
          <ion-button color="primary">
            <ion-icon name="heart"></ion-icon>
            Like
          </ion-button>
          <ion-button color="secondary">
            <ion-icon name="chatbubble"></ion-icon>
            Comentario
          </ion-button>
        </div>
        <ion-button class="right-button" color="tertiary">
          <ion-icon name="share-social"></ion-icon>
          Compartir
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
