ion-header {
  background-color: #f4c542; /* Fondo dorado en el header */
  color: #fff; /* Texto blanco */
  font-family: Georgia, 'Times New Roman', Times, serif; /* Fuente modificada */
  text-align: center; /* Aseguramos que el texto esté centrado */
}

.page-crear-comunidad {
  --background: #000000; /* Fondo negro */
  --color: #ffffff; /* Texto blanco */
  padding: 10px;
  

  form {
    ion-item {
      --background: #000000; /* Fondo oscuro para los inputs */
      --highlight-color: #f4c542; /* Color dorado para resaltar los campos */
      --color: #fff; /* Texto blanco */
      margin-bottom: 15px;
      font-family: Georgia, 'Times New Roman', Times, serif;

      ion-label {
        color: #f4c542; /* Etiquetas doradas */
        font-family: Georgia, 'Times New Roman', Times, serif;
      }

      ion-input, ion-textarea, ion-select {
        --color: #fff; /* Color de texto blanco */
        --border-radius: 10px; /* Bordes redondeados */
        font-family: Georgia, 'Times New Roman', Times, serif;
      }
    }
    
    .cancel-button {
      background-color: #ff0000; /* Rojo para el botón cancelar */
      color: #fff;
      border-radius: 20px; /* Bordes redondeados */
      margin-top: 10px;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .crear-button {
      background-color: #f4c542; /* Dorado para el botón crear comunidad */
      color: #fff;
      border-radius: 20px; /* Bordes redondeados */
      margin-top: 10px;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .image-preview-container {
      margin-top: 15px;
      display: flex;
      justify-content: center;
      img {
        max-width: 100%;
        border-radius: 10px; /* Bordes redondeados para la imagen */
      }
    }
  }

  ion-button {
    --border-radius: 20px; /* Bordes redondeados en los botones */
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  ion-select {
    --border-radius: 10px; /* Bordes redondeados en select */
  }

  ion-toggle {
    --border-radius: 10px; /* Bordes redondeados en el toggle */
  }

  /* Asegurar que el botón "Seleccionar Imagen" también esté redondeado */
  ion-button.select-image-button {
    --border-radius: 20px; /* Bordes redondeados */
    background-color: #f4c542; /* Dorado */
    color: #fff;
  }
}
