<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Políticas de Usuario</h2>
  <p><strong>Última actualización:</strong> </p>

  <p>En Ojo de Horus, los usuarios deben cumplir con una serie de normas y políticas para garantizar una experiencia respetuosa y constructiva dentro del foro. Estas Políticas de Usuario establecen las reglas de conducta que todos los usuarios deben seguir al participar en la comunidad.</p>

  <h3>1. Registro y Responsabilidad del Usuario</h3>
  <p>Al registrarse, los usuarios son responsables de la veracidad de la información proporcionada. No se permiten cuentas falsas o duplicadas.</p>

  <h3>2. Conducta Aceptable</h3>
  <p>Los usuarios deben comportarse de manera respetuosa. No se tolerarán mensajes ofensivos, discriminatorios o de acoso. El incumplimiento de esta norma resultará en sanciones, incluidas posibles suspensiones o bloqueos de cuenta.</p>

  <h3>3. Publicación de Contenido</h3>
  <ul>
    <li>No se permite la publicación de contenido ilegal o que infrinja derechos de propiedad intelectual.</li>
    <li>El contenido debe ser relevante y contribuir de manera constructiva a las discusiones.</li>
    <li>Está prohibido el uso de lenguaje vulgar o inapropiado.</li>
  </ul>

  <h3>4. Moderación</h3>
  <p>Los moderadores del foro tienen el derecho de editar o eliminar cualquier contenido que consideren inapropiado, y pueden suspender o eliminar cuentas de usuario que violen las políticas.</p>

  <h3>5. Privacidad de los Usuarios</h3>
  <p>Los usuarios deben respetar la privacidad de los demás. No se permite la divulgación de información personal de otros usuarios sin su consentimiento.</p>

  <h3>6. Cambios en las Políticas de Usuario</h3>
  <p>Nos reservamos el derecho de modificar estas políticas en cualquier momento. Los cambios serán efectivos a partir de su publicación en esta página.</p>

  <h3>7. Contacto</h3>
  <p>Si tienes preguntas sobre las Políticas de Usuario, puedes ponerte en contacto con nosotros en ojodehorus&#64;correo.com .</p>
</ion-content>
