.login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: #000; // Fondo negro para toda la página
  color: #fff; // Texto en blanco
  --background: transparent;
}

.logo-container {
  display: flex;
  justify-content: center;
  background-color: #000;
  padding-top: 10%;
}


.logo-img {
  width: 150px;
  height: auto;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}
form {
  background-color: #000000; /* Fondo blanco para el formulario */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(255, 174, 0); /* Sombra ligera */
  max-width: 400px; /* Limitar el ancho del formulario */
  width: 100%; /* Asegura que se mantenga receptivo */

  ion-item {
    --background: #f0f0f0; /* Fondo de los campos */
    --border-radius: 5px;
    margin-bottom: 15px;
  }

  ion-input {
    --padding-start: 10px; /* Espacio interior del input */
    --color: #000000; /* Color del texto */
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  ion-label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000000; // color para las etiquetas
  }

  ion-button {
    --background: #a67c00; /* Color del botón */
    margin-top: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;

    &:disabled {
      background: rgba(212, 175, 55, 0.5); // Fondo dorado semi-transparente cuando está deshabilitado
    }
  }
}

ion-header {
  background-color: #d4af37; // Fondo dorado

  ion-toolbar {
    --background: transparent; // Hacer que el toolbar sea transparente para mostrar el dorado
  }
  
  ion-title {
    color: #000; // Texto en negro para el título
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  ion-buttons {
    ion-back-button, ion-menu-button {
      color: #000; // Botones en negro
    }
  }
}
