ion-avatar {
    margin: 5px;
  }
    
    ion-label {
      margin-left: 10px;
      font-size: 16px;
      transition: color 0.5s ease; /* Transición suave del color */
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: #000000;
    }

  ion-item {
    --background: transparent;
    color:#d4af37; /* Color del texto */
    margin: 5px 0; /* Separación de botones*/
    font-size: 17px; /* Tamaño del texto */
    font-family: Georgia, 'Times New Roman', Times, serif;
  
    ion-icon {
      margin-right: 10px;
      font-size: 20px; /* Tamaño de los íconos */
      color:#d4af37; /* Color de los íconos */
      transition: color 0.5s ease; /* Transición suave del color */
    }
  
    &:hover {
        --background: #d4af37; /* Color del fondo al pasar el mouse */
        
        ion-icon {
          color: black; /* Cambiar el color del ícono a negro al pasar el mouse */
        }
      }
    }
  
  ion-list {
    padding: 100px; /* Margen para que no esté tan pegado */
    background-color: #000000;
  }
  

  ion-menu {
    --ion-toolbar-background: #d4af37; /* Fondo de la toolbar del menú */
    --ion-text-color: #000000; /* Color de texto al pasar el mouse */
    }
  
  ion-item {
    border-radius: 50px; /* Bordes redondeados en los items del menú */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transiciones para suavizar los cambios */
  }
  
  
  ion-list {
    padding: 10px;
  }
  
  .logo-container {
    background-color: #000000; /* Asegúrate de que el fondo sea negro */
    padding-bottom: 10px; /* Controla el espacio inferior */
    display: flex; /* Alineación */
    justify-content: center; /* Centrar el logo horizontalmente */
    padding-top: 253px;
  }
  
  .logo-img {
    width: 80px; /* Ajusta este valor para hacer el logo más pequeño o más grande */
    height: auto; /* Mantiene la proporción del logo */
  }
  ion-content{
    ion-label{
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
  }