<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Comentarios</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-searchbar slot="end" placeholder="Buscar"></ion-searchbar>
    <ion-button slot="end" [routerDirection]="'root'" [routerLink]="'/login'">Inicio de sesión</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- Sección para mostrar el post seleccionado -->
  <div class="post-details">
    <h2>{{ post?.name }}</h2>
    <p>{{ post?.message }}</p>
    
    <!-- Mostrar la imagen del post -->
    <img *ngIf="post?.image" [src]="post?.image" alt="Imagen del post" class="post-image" />
  </div>

  <!-- Sección para agregar un nuevo comentario -->
  <ion-item>
    <ion-input 
      [(ngModel)]="newComment" 
      placeholder="Escribe tu comentario..." 
      lines="full">
    </ion-input>
  </ion-item>

  <ion-button expand="full" (click)="addComment()" color="none">Agregar Comentario</ion-button>

  <!-- Sección para mostrar los comentarios existentes -->
  <div class="comments-section">
    <h3>Comentarios:</h3>
    <ion-list>
      <ion-item *ngFor="let comment of comments">
        <ion-label>{{ comment }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

