ion-header {
  background-color: #d4af37; /* Fondo dorado */
  color: #000; /* Texto negro */

  ion-toolbar {
    --background: transparent; /* Fondo transparente del toolbar para que herede el dorado */
    color: #000; /* Color del texto e iconos dentro del toolbar */

    ion-title, ion-buttons, ion-searchbar, ion-button {
      color: #000; /* Asegurarse de que el texto e iconos sean negros */
    }

    ion-menu-button, ion-back-button {
      color: #000; /* Iconos del menú y back en negro */
    }

    ion-searchbar {
      --background: #fff; /* Fondo blanco del cuadro de búsqueda */
      --color: #000; /* Texto negro dentro del searchbar */
    }

    ion-button {
      --background: #000000; /* Fondo blanco para el botón de inicio de sesión */
      text-align: center;
      border-radius: 10px; /* Bordes redondeados */
    }
  }
}


ion-content {
  background-color: #000000; /* Fondo negro */
  font-family:Georgia, 'Times New Roman', Times, serif;
  --background: transparent;

  .welcome-section {
    text-align: center;
    margin-bottom: 20px;

    h1 {
      font-size: 2rem;
      font-weight: bold;
      color: #cc9226; /* Color dorado para el título */
      font-family:Georgia, 'Times New Roman', Times, serif;
    }

  }

  .welcome-image {
    width: 100%;
    height: auto;
    border-radius: 50%; /* Borde redondo */
    border: 5px solid #cc9226; /* Borde dorado */
    margin-bottom: 20px;
  }

  .about-section {
    h2 {
      font-size: 1.8rem;
      margin-bottom: 15px;
      color: #cc9226; /* Color dorado */
      font-family:Georgia, 'Times New Roman', Times, serif;
    }

    h3 {
      margin-top: 20px;
      font-size: 1.5rem;
      color: #cc9226; /* Color dorado */
      font-family:Georgia, 'Times New Roman', Times, serif;
    }

    p,
    ul {
      font-size: 1rem;
      line-height: 1.6;
      margin-bottom: 15px;
      color: #ffffff; /* Color blanco para el texto */
      background-color: #000000;
      border: 5px solid #cc9226;
      padding: 4%;
    }

    ul {
      list-style-type: disc;
      margin-left: 20px;
    }
  }

  ion-button {
    margin-top: 20px;
    background-color: #cc9226; /* Fondo dorado para el botón */
    color: #000; /* Texto negro para el botón */
  }
}
